.form-wrapper {
  background-image:  url("https://images.wallpaperscraft.com/image/surface_dark_background_texture_50754_1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
  overflow: hidden;
  height: 900px;
  font: 15px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
}

p, label, small, h4, div {
  color: white;
}

.users:last-child {
  margin-bottom: 4%; 
}
